@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.boxshadow-fullwidth {
    background-color: #53bd9515;
    box-shadow: 0 0 0 100vmax #53bd9515;
    clip-path: inset(0 -100vmax);
}

.borderbottom {
    border-bottom: 1px solid #4b556317;
}

.mdxremote {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #4b5563;
}

.mdxremote h1 {
    font-size: 40px;
    margin: 0px;
}

.mdxremote h2 {
    font-size: 34px;
    margin: 0px;
}

.mdxremote h3 {
    font-size: 28px;
    margin: 0px;
}

.mdxremote p {
    font-size: 18px;
    margin: 0px;
}

.account {
    height: calc(100vh - 72px);
}